DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE

NEXT_PUBLIC_SITE_URL=https://job-portal-zeta-two-46.vercel.app

INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_ACCOUNT_ID=
INSTAGRAM_API_VERSION=v24.0